.data-img{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10%;
}
.mt-5{
display: flex;
justify-content: flex-start;
    align-items: flex-start;
}
form.data-img{
    display: flex;
}
