.data-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}
.mt-5 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
form.data-img {
  display: flex;
}
